<div class="editor">
    <div class="text" contenteditable="true" ng-transclude focus></div>
    <div class="buttons">
        <image-button img="bold" ng-click="exec('bold')"></image-button>
        <image-button img="italic" ng-click="exec('italic')"></image-button>
        <image-button img="underline" ng-click="exec('underline')"></image-button>
        <image-button img="ol" ng-click="exec('insertOrderedList')"></image-button>
        <image-button img="ul" ng-click="exec('insertUnorderedList')"></image-button>
    </div>
</div>